/* *************
Media
***************/


/* 768 - 991 */
@media screen and (max-width: 991px) {
/* *************
about page
***************/
.star__text{
    margin-bottom: 40px;
}
.about__slider .container{
max-width: 100%;
}
.sertificate__link{
    width: 30%;
}

/* *************
service single page
***************/
.service{
    padding-bottom: 20px;
}
.service__about, .service__price{
    margin-bottom: 40px;
}
.service__btn {
    margin-bottom: 40px;
}
.doctor-sertificate_service{
    padding-bottom: 20px;
}

/* *************
doctor single page
***************/
.doctor-sertificate{
padding-bottom: 60px;
}

/* *************
reviews  page
***************/


.no-gutters>.form__block{
padding: 0;

}
.reviews__form{
    margin:  35px auto 50px;
}
.reviews__btn{
    margin: 35px auto 0;
}
.rev__info{
    padding: 60px 0;
}

/* *************
blog  page
***************/

.news{
    padding-top: 50px;
}
.pagination_blog{
    margin-bottom: 60px;
    margin-top: 20px;
}
.recomended{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
}
.recomended__title{
    width: 100%;
}
.recomended__item{
    width: 30%;
}
.news__list{
    margin-bottom: 40px;
}

}