/* 
Media
***************/
@media screen and (max-width: 1600px) {

/* 
*************
other page 
**************************
*/
/* 
*************
service page 
**************************
*/
.header__main_other{
    padding: 230px 0;
}
.header__main_service {
   
   height: 100vh;
}
.breadcrumbs, .breadcrumbs__link {
font-size: 16px;
}

   /* 
*************
about page 
**************************
*/
   /* 
*************
review page 
**************************
*/
   /* 
*************
contacts page 
**************************
*/
   /* 
*************
blog page 
**************************
*/
   /* 
*************
news page 
**************************
*/



}